.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 230px));
    grid-template-rows: repeat(3, minmax(175px, 230px));
    align-items: center;
    justify-content: center;
    gap: 20px 50px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.winnerContainer {
    display:flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    
}

.winnerContainer button {
    min-width: fit-content;
    min-height: 4rem;
    margin-top: 40px;
}
.winnerText {
    display: flex;
    margin-bottom: 10px;
}

