@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.headerContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: bold;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

